<div id="<%= dom_id ticket %>">
  <p>
    <strong>Title:</strong>
    <%= ticket.title %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= ticket.type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ticket.status %>
  </p>

  <p>
    <strong>Developer:</strong>
    <%= ticket.developer_id %>
  </p>

  <p>
    <strong>Qa:</strong>
    <%= ticket.qa_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= ticket.project_id %>
  </p>

  <p>
    <strong>Screenshot:</strong>
    <%= ticket.screenshot %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ticket.description %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= ticket.deadline %>
  </p>

</div>
