<p style="color: green"><%= notice %></p>

<%= render @ticket %>

<div>
  <div class="d-flex gap-2" style="margin-bottom: 6px;" >
  <%= link_to 'Edit this ticket', edit_ticket_path(@ticket), class: 'btn btn-info' %>
  <%= link_to 'Back to tickets', tickets_path, class: 'btn btn-secondary' %>
  </div>

  <% if policy(@ticket).destroy? %>
  <%= button_to "Delete this ticket", ticket_path(@ticket),
    method: :delete,
    data: { turbo_confirm: "Are you sure?" },
    class: "btn btn-danger" %>
  <%end%>  

 
 
</div>
